---
import dateFormat from "@/lib/utils/dateFormat";
import readingTime from "@/lib/utils/readingTime";
import { humanize, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { BiCalendarEdit, BiTime } from "react-icons/bi";

type Props = {
  posts: CollectionEntry<"posts">[];
};
const { posts } = Astro.props;
---

<div class="row gy-4 justify-center">
  {
    posts.map((post, i: number) => (
      <div class={`col-12 sm:col-6 md:col-4 ${i === 2 && "hidden md:block"}`}>
        {post.data.image && (
          <a
            href={`/${post.id}`}
            class="rounded-2xl block overflow-hidden group relative"
          >
            <Image
              class="group-hover:scale-[1.05] transition duration-500 w-full"
              src={post.data.image}
              alt={post.data.title}
              width={445}
              height={230}
            />
            <div class="absolute top-3 start-3 flex gap-2">
              {post.data.categories.map((category: string) => (
                <span class="bg-white/90 backdrop-blur-sm text-dark text-xs font-semibold px-3 py-1 rounded-full shadow-sm">
                  {humanize(category)}
                </span>
              ))}
            </div>
          </a>
        )}
        <div class="mt-4 flex items-center gap-3 text-text text-xs">
          <span class="flex items-center gap-1 font-medium">
            <BiCalendarEdit className="h-3.5 w-3.5 text-text/50" />
            {dateFormat(post.data.date!)}
          </span>
          <span class="flex items-center gap-1 font-medium">
            <BiTime className="h-3.5 w-3.5 text-text/50" />
            {readingTime(post.body ?? "")}
          </span>
        </div>
        <h3 class="h5 mt-2">
          <a
            href={`/${post.id}`}
            class="block hover:text-primary transition duration-300"
          >
            {post.data.title}
          </a>
        </h3>
      </div>
    ))
  }
</div>
